name: Plugins - CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  ci:
    name: CI
    uses: grafana/plugin-ci-workflows/.github/workflows/ci.yml@48fb3487745b585923bf02388f78abd3421e3fa3 # ci-cd-workflows/v5.0.0
    permissions:
      contents: read
      id-token: write
    with:
      plugin-version-suffix: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || '' }}
      run-playwright-with-skip-grafana-dev-image: true
      run-playwright-with-grafana-dependency: ">=10.1.0"
      upload-playwright-artifacts: true
